/**
 azuretavern.css: Main CSS file for the Azure Tavern.
*/

@import url("/static/css/reset.css");

/*** Basic styles ***/

body {
	background-color: #ffffff;
	color: #333333;
	font-size: 1.0em;
	font-family: sans-serif;
}

h1 {
	font-size: 2.0em;
}

h2 {
	font-size: 1.7em;
}

/*** Hyperlinks ***/

a {
	text-decoration: none;
}

/*** General container stuff ***/

.fixed-center {
	width: 980px;
	margin: 0 auto;
}

.container {
	text-align: left;
}

/*** Top bar ***/

.topbar {
	background-color: #007fff;
	height: 2.5em;
	padding: 0.25em 0;
}

