{% extends "_layouts/basic.html" %}
{% load i18n %}

{% block layout %}
  <div class="topbar container">
    <div class="fixed-center">
    {% block topcontent %}
      <div id="toplogo">
        <a href="{% url "home" %}">
          {% trans "Azure Tavern" %}
        </a>
      </div>
      <div id="toplinks">
        {% include "_helpers/topstatus.html" %}
      </div>
    {% endblock %}
    </div>
  </div>

  <div class="container">
    <div id="header" class="fixed-center">
      {% block header %}{% endblock %}
    </div>

    <div id="content" class="fixed-center">
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}
