{% extends "_layouts/one_column.html" %}
{% load i18n %}

{% block title %}
  {% if player == user %}
    {% trans "My Characters" %}
  {% else %}
    {% trans "Character List" %}
  {% endif %}
{% endblock %}

{% block content %}
  {% for character in characters %}
    {% if forloop.first %}<ul>{% endif %}
    <li>
      <div>
        <a href="{% url "character-details" pk=character.id %}">
          {{ character.full_name }}
        </a>
        ({{ character.short_name }})
      </div>
      <div>
        {% trans "Gender:" %} {{ character.get_gender_display }}
      </div>
      <div>
        {{ character.description }}
      </div>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% empty %}
  {% trans "You have no characters." %}
  {% endfor %}

  <p>
    <a href="{% url "new-character" %}">
      {% trans "Create new character" %}
    </a>
  </p>
{% endblock %}
